<!DOCTYPE html>
<html lang="en">
    <%- include('./particles/head.ejs') %>
<body>
    <header style="background-color:#f1f1f1;padding:15px;">
        <h1>London</h1>
        <h3>Here you are about London you can learn enjoyable things</h3>
    </header>
    <div style="overflow:auto">
    <div class="menu">
    <%- include('./particles/nav.ejs') %> 
    </div>
    <div class="main">
        <h1>The Walk</h1>
        <p>London Living Streets is a charity "dedicated to making London one of the world's best cities for walking and enjoying streets and public spaces a city that is genuinely inclusive of all its residents</p>
        <img src="/img/London.pg.jpg" alt="London">
    </div>
    <div class="left">
        <div class="latter">
        <h2>Streets?</h2>
        <p>Oxford Street, Abbey Road, Carnaby Street, Baker Street, Shaftesbury Avenue, Downing Street, Portobello Road, King's Road, Piccadilly, Brick Lane, Bond Street, Columbia Road, Jermyn Street, Knightsbridge and Pall Mall</p>
        <h2>Town?</h2>
        <p>A visit to London is a must for everyone as this is one city that will make you fall in love with it so much that you'll want to keep coming back.</p>
        <h2>Price?</h2>
        <p>20 $ a day</p>
    </div>
    </div>
    </div>
    <div style="background-color:#c0baba;text-align:center;padding:10px;margin-top:7px;font-size:16px;">This web page is a part of web design made by me. Resize the browser window to see the content respond to the resizing.</div>
</body>
</html>